configuration {
  terminal: "/usr/bin/st";
  modi: "drun,run";
  hide-scrollbar: "true";
  levenshtein-sort: false;
  sidebar-mode: true;
  cycle: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
