[user]
  name = nyuu posts
  email = nyuutsu@protonmail.com

[merge]
  conflictstyle = diff3

[core]
  editor = vim
  excludesfile = /home/nyuu/.gitignores

[init]
  defaultBranch = main

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  df = diff
  lg = log --oneline --graph --decorate
  st = status
  
  br = branch
  co = checkout
  rs = reset --hard origin/main
  
  ci = commit
  re = rebase -i --root
  
  fpush = "! fpush() { git commit -a -m \"$1\" && git push ; } ; fpush"
  opush = push -u origin main
  supush = push --force

[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
