[user]
  name = nyuu posts
  email = nyuutsu@protonmail.com

[merge]
  conflictstyle = diff3

[core]
  editor = vim
  excludesfile = /home/nyuu/.gitignores

[init]
  defaultBranch = main

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  lg = log --oneline --graph --decorate
  st = status
  df = diff

  br = branch
  co = checkout
  
  ci = commit
  ciam = commit -am
  
  re = rebase -i --root
  pf = push --force

  ps = push -u origin main
  rs = reset --hard origin/main

[push]
  default = current
