! perl extensions enabled
URxvt.perl-ext-common: ...,default,clipboard,keyboard-select,matcher,resize-font...

! font
URxvt.font: \
  xft:FiraCode Nerd Font Mono:style=regular:size=16, \
  xft:Blobmoji:style=regular,size=16, \
  xft:IPAmjMincho:style=regular,size=16

! chrome
! URxvt.letterspace: 1
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 35
! urxvt*blurRadius: 15
URxvt.internalBorder: 20px
URxvt.iconfile:  /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
vim*transparent: false
vim.internalBorder: 0

! kb-selectable text
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
! testing
! URxvt.keysym.Control-s: perl:keyboard-select:search

! clickable urls
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! resize text  # urxvt-resize-font-git
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger

! xclip paste thing  # see "urxvtclip" in usr
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! manpage chrome
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

! disable weird modes
URxvt.iso14755: false
URxvt.iso14755_52: false

! special
*.foreground:   #c6c6c6
*.background:   #0F1212
*.cursorColor:  #888a8c

! black
*.color0:       #515151
*.color8:       #707172

! red
*.color1:       #bf6382
*.color9:       #eaaec2

! green
*.color2:       #65a446
*.color10:      #aed49b

! yellow
*.color3:       #ad8a43
*.color11:      #d4c3a0

! blue
*.color4:       #6b85c2
*.color12:      #afc4e9

! magenta
*.color5:       #9e6bb8
*.color13:      #d2b1e2

! cyan
*.color6:       #5c9d88
*.color14:      #a4d0c1

! white
*.color7:       #919191
*.color15:      #d0d0d0